%h1 Questions
%table.table.table-hover.table-condensed
  %tr
    %th Question
    %th User Story
    %th Track
    %th Project
    %th Comments

  - @questions.each do |question|

    %tr
      %td= link_to question.question, question
      %td= link_to question.topic
      %td= question.project.project_type
      %td= question.project.name
      %td= question.answer.blank? ? "N/A" : question.answers.count

.btn= link_to 'New Question', new_question_path

