%h1 Open
%table.table.table-hover.table-condensed
  %tr
    %th Question
    %th Topic
    %th Size
    %th Project
    %th Comments
    %th Visibility

  - @questions.each do |question|

    %tr
      %td= link_to question.question, question
      %td= question.topic
      %td= question.size
      %td= question.project.name
      %td= link_to (rand(10))
      %td= question.visibility

.btn= link_to 'New Question', new_question_path

%h1 Closed
%table.table.table-hover.table-condensed
  %tr
    %th Question
    %th Topic
    %th Size
    %th Project
    %th Comments
    %th Visibility
    %th
    %th



  %tr
    %td
    %td
    %td
    %td
    %td
    %td


