%h1= @question.question

%button.btn= link_to "Add an Answer",  new_question_answer_path(@question)

%h2 Answers
%hr
- @question.answers.each do |answer|
  %h4= answer.title
  = answer.body
  %hr

%section
  = link_to "edit", edit_question_path(@question) |
  = link_to "list", questions_path