=form_for(@task) do |t|
  .field
    = t.label "Task Name"
    = t.text_field :description

    = t.label "Type of task (Feature, Bug, Lesson)"
    = t.text_field :type_of_task

    = t.label "Size of task"
    = t.text_field :size

  .field
    = t.label "What project is this quesiton related to?"
    = t.collection_select :project_id, Project.all, :id, :name

  .actions
    =t.submit "Create New Task"