= form_for(@library) do |f|

  .field
    = f.label "Type of Resource"
    = f.text_field :resource_type

  .field
    = f.label "Name of Resource"
    = f.text_field :resource_name

  .field
    = f.label "What's your current status with this?"
    = f.text_field :current_status

  .field
    = f.label "What's it about?"
    = f.text_field :resource_topic

  .actions
    = f.submit "Submit"

