%h1 Active Projects
%table.table.table-hover
  %tr
    %th Name
    %th Mentors
    %th Questions
    %th Goals
    %th Tasks

    - @projects.each do |p|
      %tr
        %td= link_to p.name, p
        %td= link_to "3"
        %td= link_to "5"
        %td= link_to "9"
        %td= link_to "2"
