%h1.tk-museo-slab Projects
%table.table.table-hover
  %tr
    %th Name
    %th Summary
    %th Questions
    %th Goals
    %th Tracker
    %th Repo

    - @projects.each do |p|
      %tr
        %td= link_to p.name, p
        %td.muted= p.about
        %td= link_to p.questions.count, questions_path
        %td= link_to p.goals.count, goals_path
        %td= link_to "", p.url, class: "i icon-file", target: "_blank"
        %td= link_to "", p.repo, class: "i icon-file", target: "_blank"

.btn=link_to "New Project", new_project_path

