= form_for(@goal) do |f|
  .field
    = f.text_field :goals

  .field
    = f.label "Accomplished?"
    = f.check_box :completed

  .field
    = f.label :project_id, "What project is this quesiton related to?"
    = f.collection_select :project_id, Project.all, :id, :name

  .actions
    = f.submit "Post Goal"

