.brand= link_to 'Code Journal', root_path
%ul.nav.nav-links
  %li= link_to '/projects', projects_path
  %li= link_to '/questions', questions_path
  %li= link_to '/goals', goals_path
  %li= link_to '/tasks', tasks_path
  / %li= link_to '/stack', stack_index_path
  / %li= link_to '/library', library_index_path
  / %li= link_to '/journal', journal_index_path
  / %li= link_to '/mentors'
  / %li= link_to '/mentees'

%ul.btn-group
  %button.btn.btn-success.dropdown-toggle{"data-toggle" => "dropdown"}
    New
    .caret
  %ul.dropdown-menu
    %li
      %a= link_to "Question", new_question_path
    %li
      %a= link_to "Task", new_task_path
    %li
      %a= link_to "Goal", new_goal_patha
    %li.divider
    %li
      %a= link_to "Project", new_project_path