.eyebrow-nav
  - if current_user
    Welcome
    = current_user.name
    = link_to "Projects", projects_path
    = link_to "Questions", questions_path
    |
    = link_to "Sign Out", signout_path
  - else
    = link_to "Sign in with Twitter", "/auth/twitter"